.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
draft/
output/
SpeciesMeanClimate_GBIF-main/
target_*
*.png
*.RData
*.html
bes_fig/
figure/
mod_ancova*
*.pdf
*.pptx
ReadNFICanada.R
formatEuropeNFI.R
R/Fundiv/
R/draft/
model/